$size-highlight: 2em;
$size-large: 1.714em;
$size-normal: 1em;
$size-small: 0.857em;

$size-title-popup: 1.429em;

$bg-secondary: rgba(51, 51, 51, 0.03);

$weight-highlight: 600;
$weight-large: 500;
$weight-small: 400;


$color-text-secondary: rgb(144, 144, 144);
$color-text-default: rgb(66, 67, 70);
$color-text-highlight: #c3a30b;


$main-color: #FFFFFFFF;
$secondary-color: #4d8aba;
$active-color: #c3a30b;

$padding-top-block: 24px;

$max-with-container: 1320px;

$font-family-base-web: 'Open Sans', sans-serif;


h1 {
  font-size: $size-large !important;
}

h2 {
  font-size: $size-title-popup !important;
}
h3{
  font-size: 1.17em!important;
}

h4{
  font-size: 1em!important;
}

h5{
  font-size: $size-small !important;
}

h6{
  font-size: .67em!important;
}